<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>MongoDB</title>
</head>

<body>
    <h1 class="text-center p-2">todo</h1>
    <div class="container">
        <form action="/todo" method="post">
            <input type="text" name="todo" class="form-control w-50 mx-auto" placeholder="Enter todo">
            <input type="submit" class="btn btn-primary d-block my-4 mx-auto" value="ADD">
        </form>
    </div>
    <h2 class="mx-5 p-2">tasks</h2>

    <% for(var tasks of data){ %>
    <form action="/delete" method="post">
        <input type="hidden" name="id" value="<%= tasks._id %>">
        <% if(tasks.status){ %>
            <h4 class="text-center p-2 mx-5 d-inline-block"><strike><%= tasks.task %></strike></h4>
        <% }else{ %>
            <h4 class="text-center p-2 mx-5 d-inline-block"><%= tasks.task %></h4>
            <button type="submit" class="btn btn-primary btn-sm d-inline-block" formaction="/update">Mark Completed</button>
        <% } %>
        <button type="submit" class="btn btn-danger btn-sm d-inline-block">Delete</button>
    </form>
    <% } %>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>